# Auriez vous surv√©cu au naufrage du Titanic

In [1]:
import numpy as np
import matplotlib.pyplot as plt
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.linear_model import SGDClassifier
from sklearn.impute import SimpleImputer
from sklearn.datasets import make_blobs
from sklearn.metrics import accuracy_score
from sklearn.compose import make_column_transformer
import seaborn as sns
import plotly.graph_objects as go

In [2]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [3]:
X = titanic.drop('survived',axis=1)
y = titanic['survived']

In [4]:
from sklearn.compose import make_column_selector
data_num = make_column_selector(dtype_include=np.number)
data_cat = make_column_selector(dtype_exclude=np.number)
#data_num = ['age','fare','pclass']
#data_cat = ['sex','deck','alone']
numerical_pipeline = make_pipeline(SimpleImputer(),StandardScaler())
categorical_pipeline = make_pipeline(SimpleImputer(strategy='most_frequent'),OneHotEncoder())
preprocessor = make_column_transformer((numerical_pipeline,data_num), (categorical_pipeline,data_cat))

In [6]:
model = make_pipeline(preprocessor,SGDClassifier(random_state=0))

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,shuffle=True,random_state=0)

from sklearn.impute import KNNImputer
# clean = KNNImputer(n_neighbors=3)
# clean.fit_transform(X_train)

print(X_train.shape, X_test.shape)
model.fit(X_train,y_train)
y_test_r = model.predict(X_test)
model.score(X_test,y_test)
print('Accuracy ',accuracy_score(y_test_r,y_test))
print(X.loc[0])

(668, 14) (223, 14)
Accuracy  0.9955156950672646
pclass                   3
sex                   male
age                   22.0
sibsp                    1
parch                    0
fare                  7.25
embarked                 S
class                Third
who                    man
adult_male            True
deck                   NaN
embark_town    Southampton
alive                   no
alone                False
Name: 0, dtype: object